esphome/secrets.yaml
esphome/external_components/tile_ui/__pycache__/*
esphome/external_components/tile_ui/tests/__pycache__*
server.log
__pycache__*

# Configurator
configurator/node_modules/
configurator/dist/
configurator/.env
configurator/.DS_Store
configurator/__pycache__*
