screens:
  - id: controllers
    rows: 2
    cols: 3
    flags:
      - BASE
    tiles:
      - ha_action:
          x: 0
          y: 0
          entities:
            - dynamic_entity: LIGHT
          display:
            - tile_lights
          perform:
            - action_lights
          display_page_if_no_entity: light_settings
      - ha_action:
          x: 1
          y: 0
          entities:
            - entity: AC_1_ID
          display:
            - tile_ac
          perform:
            - action_ac
      - move_page:
          x: 2
          y: 0
          display:
            - tile_icon:
                icon: '"\U0000e8b8"'
                color: id(gray)
                size: id(medium)
          destination: pref
      - ha_action:
          x: 0
          y: 1
          entities:
            - dynamic_entity: COVER
          display:
            - tile_blinds_up
          perform:
            - action_blinds_up
          display_page_if_no_entity: cover_settings
          requires_fast_refresh:
            operator: OR
            conditions:
              - blinds_moving_up_fn
              - blinds_moving_down_fn
      - ha_action:
          x: 1
          y: 1
          entities:
            - dynamic_entity: COVER
          display:
            - tile_blinds_down
          perform:
            - action_blinds_down
          display_page_if_no_entity: cover_settings
          requires_fast_refresh:
            operator: OR
            conditions:
              - blinds_moving_up_fn
              - blinds_moving_down_fn
      - ha_action:
          x: 2
          y: 1
          entities:
            - dynamic_entity: COVER
          display:
            - tile_icon:
                icon: '"\U0000e286"'
                color: id(light_purple)
                size: id(big)
          perform:
            - action_blinds_mid
          display_page_if_no_entity: cover_settings
  - id: pref
    rows: 3
    cols: 4
    flags:
      - TEMPORARY
    tiles:
      - move_page:
          x: 0
          y: 0
          display:
            - tile_icon:
                icon: '"\U0000eb97"'
                color: Color::WHITE
                size: id(big)
          destination: disp_settings
      - move_page:
          x: 1
          y: 0
          display:
            - tile_icon:
                icon: '"\U0000e28b"'
                color: Color::WHITE
                size: id(big)
          destination: light_settings
      - move_page:
          x: 2
          y: 0
          display:
            - tile_icon:
                icon: '"\U0000e5c4"'
                color: id(gray)
                size: id(medium)
          destination: controllers
      - move_page:
          x: 0
          y: 1
          display:
            - tile_icon:
                icon: '"\U0000f55b"'
                color: Color::WHITE
                size: id(big)
          destination: ac_settings
          dynamic_entry:
            dynamic_entity: AC
            value: AC_1_ID
      - move_page:
          x: 1
          y: 1
          display:
            - tile_icon:
                icon: '"\U0000e286"'
                color: Color::WHITE
                size: id(big)
          destination: cover_settings
      - move_page:
          x: 2
          y: 1
          display:
            - tile_icon:
                icon: '"\U0000e286"'
                color: Color::WHITE
                size: id(big)
          destination: cover_settings_2
      - move_page:
          x: 0
          y: 2
          destination: settngs_3
          display:
            - tile_icon:
                icon: '"\U0000f4b6"'
                color: Color(66,49,191)
                size: id(big)
          dynamic_entry:
            dynamic_entity: LIGHT
            value:
              - a
      - move_page:
          x: 1
          y: 2
          destination: settngs_3
          dynamic_entry:
            dynamic_entity: LIGHT
            value:
              - b
          display:
            - tile_icon:
                icon: '"\U0000e5cc"'
                color: Color(38,215,25)
                size: id(big)
  - id: ac_settings
    rows: 2
    cols: 3
    flags:
      - TEMPORARY
    tiles:
      - ha_action:
          x: 0
          y: 0
          entities:
            - dynamic_entity: AC
              sensor: temperature
          display:
            - tile_icon:
                icon: '"\U0000f4b5"'
                color: id(light_red)
                size: id(big)
          perform:
            - action_temp_up
      - ha_action:
          x: 0
          y: 1
          entities:
            - dynamic_entity: AC
              sensor: temperature
          display:
            - tile_icon:
                icon: '"\U0000f4b6"'
                color: id(light_blue)
                size: id(big)
          perform:
            - action_temp_down
      - ha_action:
          x: 1
          y: 0
          entities:
            - dynamic_entity: AC
          display:
            - tile_ac_mode
          perform:
            - action_ac_mode
      - title:
          x: 1
          y: 1
          entities:
            - dynamic_entity: AC
            - dynamic_entity: AC
              sensor: temperature
          display:
            - tile_ac_status
          omit_frame: true
      - move_page:
          x: 2
          y: 0
          display:
            - tile_icon:
                icon: '"\U0000e5c4"'
                color: id(gray)
                size: id(medium)
          destination: controllers
  - id: disp_settings
    rows: 2
    cols: 3
    flags:
      - FAST_REFRESH
      - TEMPORARY
    tiles:
      - function:
          x: 0
          y: 0
          display:
            - tile_brightness
          on_press: on_brightness_press
          on_release: on_brightness_release
      - function:
          x: 1
          y: 0
          display:
            - tile_distance
          on_press: change_wakeup_distance
      - move_page:
          x: 2
          y: 0
          display:
            - tile_icon:
                icon: '"\U0000e5c4"'
                color: id(gray)
                size: id(medium)
          destination: controllers
      - function:
          x: 0
          y: 1
          display:
            - tile_wakeup_time
          on_press: change_sleep_time
      - function:
          x: 1
          y: 1
          display:
            - tile_icon:
                icon: '"\U0000f418"'
                color: Color::WHITE
                size: id(big)
          on_press: action_power
  - id: light_settings
    rows: 2
    cols: 3
    flags:
      - TEMPORARY
    tiles:
      - toggle_entity:
          x: 0
          y: 0
          display:
            - tile_choose_light
          dynamic_entity: LIGHT
          entity: LIGHT_1_ID
          presentation_name: Closet
          initially_chosen: true
      - toggle_entity:
          x: 1
          y: 0
          display:
            - tile_choose_light
          dynamic_entity: LIGHT
          entity: LIGHT_2_ID
          presentation_name: Ceiling
      - toggle_entity:
          x: 0
          y: 1
          display:
            - tile_choose_light
          dynamic_entity: LIGHT
          entity: LIGHT_3_ID
          presentation_name: Comp
      - toggle_entity:
          x: 1
          y: 1
          display:
            - tile_choose_light
          dynamic_entity: LIGHT
          entity: LIGHT_4_ID
          presentation_name: Bed
      - move_page:
          x: 2
          y: 0
          display:
            - tile_icon:
                icon: '"\U0000e5c4"'
                color: id(gray)
                size: id(medium)
          destination: controllers
  - id: cover_settings
    rows: 2
    cols: 3
    flags:
      - TEMPORARY
    tiles:
      - toggle_entity:
          x: 2
          y: 1
          display:
            - tile_choose_cover
          dynamic_entity: COVER
          entity: COVER_1_ID
          presentation_name: PR1
          initially_chosen: true
      - toggle_entity:
          x: 1
          y: 1
          display:
            - tile_choose_cover
          dynamic_entity: COVER
          entity: COVER_2_ID
          presentation_name: PR2
          initially_chosen: true
      - move_page:
          x: 2
          y: 0
          display:
            - tile_icon:
                icon: '"\U0000e5c4"'
                color: id(gray)
                size: id(medium)
          destination: controllers
  - id: cover_settings_2
    rows: 2
    cols: 3
    flags:
      - TEMPORARY
    tiles:
      - cycle_entity:
          x: 0
          y: 0
          dynamic_entity: ROOM
          options:
            - entity: LR
              label: LR
            - entity: TOYS
              label: TOYS
            - entity: A
              label: A
            - entity: B
              label: B
            - entity: C
              label: C
            - entity: D
              label: D
          display:
            - tile_room
      - cycle_entity:
          x: 1
          y: 0
          dynamic_entity: COVER_TEMP
          options:
            - entity: '*'
              label: ALL
            - entity: COVER_1_ID
              label: PR1
            - entity: COVER_2_ID
              label: PR2
          display:
            - tile_cover_name
          activation_var:
            dynamic_entity: ROOM
            value: LR
      - cycle_entity:
          x: 1
          y: 0
          dynamic_entity: COVER_TEMP
          options:
            - entity: '*'
              label: ALL
            - entity: COVER_3_ID
              label: TR1
            - entity: COVER_4_ID
              label: TR2
          display:
            - tile_cover_name
          activation_var:
            dynamic_entity: ROOM
            value: TOYS
      - cycle_entity:
          x: 1
          y: 0
          dynamic_entity: COVER_TEMP
          options:
            - entity: '*'
              label: ALL
            - entity: A1_ID, A11_ID
              label: A1
            - entity: A2_ID
              label: A2
            - entity: A3_ID
              label: A3
            - entity: A4_ID
              label: A4
          display:
            - tile_cover_name
          activation_var:
            dynamic_entity: ROOM
            value: A
      - cycle_entity:
          x: 1
          y: 0
          dynamic_entity: COVER_TEMP
          options:
            - entity: '*'
              label: ALL
            - entity: B1_ID
              label: B1
            - entity: B2_ID
              label: B2
            - entity: B3_ID
              label: B3
            - entity: B4_ID
              label: B4
          display:
            - tile_cover_name
          activation_var:
            dynamic_entity: ROOM
            value: B
      - cycle_entity:
          x: 1
          y: 0
          dynamic_entity: COVER_TEMP
          options:
            - entity: '*'
              label: ALL
            - entity: C1_ID
              label: C1
            - entity: C2_ID
              label: C2
            - entity: C3_ID
              label: C3
            - entity: C4_ID
              label: C4
          display:
            - tile_cover_name
          activation_var:
            dynamic_entity: ROOM
            value: C
      - cycle_entity:
          x: 1
          y: 0
          dynamic_entity: COVER_TEMP
          options:
            - entity: '*'
              label: ALL
            - entity: D1_ID
              label: D1
            - entity: D2_ID
              label: D2
            - entity: D3_ID
              label: D3
            - entity: D4_ID
              label: D4
          display:
            - tile_cover_name
          activation_var:
            dynamic_entity: ROOM
            value: D
      - ha_action:
          x: 0
          y: 1
          entities:
            - dynamic_entity: COVER_TEMP
          display:
            - tile_blinds_up_down
          location_perform:
            - action_blinds_up_down
          requires_fast_refresh:
            operator: OR
            conditions:
              - operator: AND
                conditions:
                  - operator: NOT
                    conditions:
                      - blinds_moving_up_fn
                  - blinds_moving_down_fn
              - blinds_moving_down_fn
      - move_page:
          x: 2
          y: 0
          display:
            - tile_icon:
                icon: '"\U0000e5c4"'
                color: id(gray)
                size: id(medium)
          destination: controllers
  - id: settngs_3
    rows: 2
    cols: 3
    flags:
      - TEMPORARY
    tiles:
      - cycle_entity:
          x: 0
          y: 0
          dynamic_entity: COVER
          options:
            - label: a
              entity:
                - a
            - entity:
                - b
              label: b
            - entity:
                - c
              label: c
            - entity:
                - e
              label: e
          x_span: 1
          y_span: 2
          activation_var:
            dynamic_entity: LIGHT
            value:
              - a
          display:
            - tile_room
      - cycle_entity:
          x: 0
          y: 0
          dynamic_entity: COVER
          options:
            - entity: '*'
              label: All
            - label: a
              entity:
                - a
            - entity:
                - b
              label: b
            - entity:
                - c
              label: c
            - entity:
                - d
              label: d
          x_span: 2
          y_span: 1
          activation_var:
            dynamic_entity: LIGHT
            value:
              - b
          display:
            - tile_room
      - move_page:
          x: 2
          y: 1
          display:
            - tile_icon:
                icon: '"\U0000e5cb"'
                color: Color(202,205,29)
                size: id(big)
          destination: pref
